<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>José Filho</title>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/aos.css">
    <link rel="stylesheet" href="./assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon.ico">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar">

    <!-- CORPO -->
    <div id="content-wrapper">

        <!-- AGRADECIMENTO -->
        <section id="about" class="full-height px-lg-5">

            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <h1 class="display-4 fw-bold" data-aos="fade-up">Obrigado pelo seu contato!</h1>
                        <p class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300"></p> 
                        <div data-aos="fade-up" data-aos-delay="600">                            
                            <a href="index.html" class="btn btn-brand me-3">Voltar</a>
                            
                        </div>               
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER -->
        <footer class="py-5 px-lg-5">
            <div class="container">
                <div class="row gy-4 justify-content-between">
                    <div class="col-auto">
                        <p class="mb-0">Copyright (c) 2023 <a href="#" class="fw-bold">José Filho</a></p>
                    </div>
                    <div class="col-auto">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/josecsfilho" target="_blank"><i
                                    class="lab la-linkedin"></i></a>
                            <a href="https://github.com/josecsfilho"><i class="lab la-github" target="_blank"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //FOOTER -->

    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/aos.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
